html {
  font-size: 62.5%
}

body {
  width: 100%;
  font-size: 1.4rem;
  background: rgba(0, 0, 0, 0) linear-gradient(141deg, rgb(150, 102, 165) 0%, rgb(31, 200, 219) 51%, rgb(44, 181, 232) 75%) repeat scroll 0% 0%
}

h1 {
  font-size: 5rem;
}
h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.8rem;
}

p {
  margin: 2px 0;
}
h1, h2, h3, h4 {
  margin: 5px 0;
}
a {
  text-decoration: none;
}
.header {
  margin-top: 30px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.footer a {
  color: black;
}
.footer a:visited {
  color: black;
}

.title {
  padding-top: 50px;
}

.lambda-logo, .github-logo {
  width: 200px;
  height: auto;
  max-height: 200px;
}

.lambda-logo {
  padding-right: 30px;
}
.github-logo {
  padding-left: 30px;
}

.icon {
  margin: 5px 10px;
  border: 1px solid black;
  border-radius: 16px;
  padding: 6px;
  font-size: 2rem;
}

.icon:hover {
  border-color: white;
  color: white;
  cursor: pointer;
}

.thumbnail-first {
  max-width: 150px;
  height: 150px;
  border-radius: 3px;
  margin-right: 20px;
}

.thumbnail {
  max-width: 70px;
  height: 70px;
  border-radius: 3px;
  margin-right: 20px;
}

.footer {
  font-size: 1.3rem;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 10px;
}

.text-input {
  width: 90%;
  max-width: 400px;
  border: 1px solid black;
  padding: 6px;
  border-radius: 8px;
}

.search-button {
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 20px;
  border: 1.5px solid black;
  background: white;
  color: black;
  cursor: pointer;
  border-radius: 16px;
  padding: 6px 25px;
}
.search-button:hover {
  border-color: rgb(15, 138, 151);
  color: rgb(15, 138, 151);
}
.search-button:active {
  background: rgb(221, 199, 228);
}

.title h1 {
  margin-bottom: 10px;
}

.title h2 {
  margin-top: 10px;
}

.switch-button {
  text-decoration: none;
  cursor: pointer;
  color: blue;
}


.show {
  display: block;
}
.hide {
  display: none;
}

@media (max-width: 600px) {
  .lambda-logo {
    display: none;
  }
  .github-logo {
    max-width: 130px;
    height: auto;
    margin: 5px;
    padding: 0;
  }
  .header {
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
  }
  .title {
    padding: 0;
  }
}