html {
  font-size: 62.5%
}

body {
  font-size: 1.4rem;
  background: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}

h1 {
  font-size: 3.7rem;
}
h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.8rem;
}

p {
  margin: 2px 0;
}
h1, h2, h3, h4 {
  margin: 5px 0;
}
a {
  text-decoration: none;
}
.header {
  margin: 30px auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.footer a {
  color: black;
}
.footer a:visited {
  color: black;
}

.title {
  padding-top: 50px;
}

.lambda-logo, .github-logo {
  width: 200px;
  height: auto;
  max-height: 200px;
}

.lambda-logo {
  padding-left: 30px;
}
.github-logo {
  padding-right: 30px;
}

.icon {
  margin: 5px 10px;
  border: 1px solid black;
  border-radius: 16px;
  padding: 6px;
  font-size: 2rem;
}

.icon:hover {
  border-color: white;
  color: white;
  cursor: pointer;
}

.thumbnail {
  max-width: 150px;
  height: auto;
  max-height: 180px;
  border-radius: 3px;
  margin-right: 20px;
}

.footer {
  font-size: 1.3rem;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 10px;
}


.show {
  display: block;
}
.hide {
  display: none;
}
